{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PyFit</title>
</head>
<body bgcolor="cyan">
    <h1>This is pyfit project</h1>
    {%block content%}

    {% endblock %}
    <footer>
        <div class="footer-bottom">
            <p>Copyright &copy;2023. Designed by <span>Uday  </span><span>Manvitha  </span><span>Arun</span></p>
        </div>
    </footer>


    <!-- {% include "footer.html"%} -->
    

</body>
</html>